<launch>
  <include file="$(find pr2_machine)/$(env ROBOT).machine" />
  <include file="$(find pr2_navigation_slam)/slam_gmapping.xml" />
  <include file="$(find pr2_navigation_teleop)/teleop.xml" />
  <include file="$(find followme)/launch/lasers_and_filters.xml" />
  <include file="$(find followme)/launch/move_base.xml" />
</launch>
